mixin checkbox_list(checkboxList)
  if checkboxList.type == 'expandable'
    .checkbox_list__header
      +caption(checkboxList.caption)
      .checkbox_list__btn.checkbox-list__btn__hide
    div(class='checkbox_list__visible')
      each item in checkboxList.items
        label.checkbox-list__item
          input(type='checkbox' checked=item.checked).checkbox-list__input 
          .checkbox-list__text
            span= item.text
  else if checkboxList.type == 'rich'
    each item in checkboxList.items
      label.checkbox-list__item
        input(type='checkbox' checked=item.checked).checkbox-list__input 
        .checkbox-list__text
          span.checkbox-list__desc= item.desc
          span.checkbox-list__sub-desc= item.sub
  else
    each item in checkboxList.items
      label.checkbox-list__item
        input(type='checkbox' checked=item.checked).checkbox-list__input 
        .checkbox-list__text
          span= item.text
