mixin calendar
  input(
    type="text" placeholder="Choose a date"
    id="dtpAir"
    vp-input=""
    class="datepicker-here"
    data-min-view="months"
    data-view="months"
    data-date-format="MM yyyy"
    )
  

